/* *{
  box-sizing: border-box;
} */

html {
  box-sizing: border-box;
  margin: 0
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

#screen
{
  margin: 0 auto;
  background-color:rgb(60,60,60);
  color:white;
  width:100%;
  padding:10px 0px;
  text-decoration:none;
}

#header
{
  display:inline-block;
  font-family: 'Lato',sans-serif;
  font-weight:bold;
  font-size:2em;
  color:white;
  /*background-image:url('../images/buttongradient.png');*/
  width:auto;
  padding: 0 10px;
  margin-left: 30px;
  border-radius:20px;
  letter-spacing: 0px;
}

nav{
  margin: 20px  auto;
  overflow: auto;
  width:100%;
}

nav a{
  float: left;
  font-family: 'Lato',sans-serif;
  text-decoration: none;
  font-size: 1.2em;
  width: 20%;
  text-align: center;
  color: #ff8201;
  border-right: 1px solid #3c3c3c;
}

#glossaryNoBorder{
  border-right: none;
}

body {
  /* background-color: #f1f1f1; */
  /* padding: 20px; */
  font-family: Arial;
  background-color: white;
  width: 90%;
  margin: 0 auto;
  position: relative;
  border: 1px solid black;
  height:auto;
}

hr{
  margin-bottom: 30px;
}

/* Center website */
.main {
  max-width: 1450px;
  height: auto;
  margin: 0 auto;
}

#footer {
  position: relative;
  clear: both;
  margin-top: -100px;
  width: 100%;
  height: 100px;
  background-color: gray;
}

.row {
  width: 95%;
  /* border: 1px solid orange; */
  margin: 0 auto;
  padding-left: 0;
}

.column{
  position: relative;
  background-color: transparent;
  float: left;
  clear: right;
  width: 18%;
  margin-bottom: 22px;
  margin-right: 22px;
  border: 1px solid orange;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 300px;
  max-height: 300px;
}

.content{
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

img{
  border-radius: 5px;
  width:100%;
  height:240px;
}

  .displayName{
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 6%;
  /* top: 20%; */
  /* border: 0.5px solid red; */
}

.overlay{
  background-color: gray;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #3c3c3c;
  color: white;
  font-family: 'Lato',sans-serif;
}

.column:hover .overlay {
  opacity: 0.9;
}


.textarea{
  padding: 15px 10px;
  /* word-wrap: normal; */
  text-align: center;
}
 .textarea h2{
   font-size: 1.2em;
   margin-bottom: 20px;
 }

 .textarea h4{
    margin-bottom: 20px;
 }

 .textarea p{
   margin-bottom: 20px;
 }
.textarea .email{
  font-size: 0.8em;
  word-wrap: break-word;
}



@media screen and (max-width:1350px) {
  .column{

    width: 22%;
    margin-right: 16px;
  }
}

@media screen and (max-width:1150px) {
  .column{
    width: 30%;
  }
}

@media screen and (max-width:800px) {
  .column{
    /*  2 col*/
    width: 44%;
    margin-left: 8px;
    /* margin: 8px auto; */
    /* margin-bottom: 16px; */
    /* float: none; */
  }

  .row{
    text-align: center;
    width: 90%;
    padding-left: 0;
    margin: 0 auto;
  }

  #screen{
    text-align: center;
  }
  nav a{
    float: none;
    display: block;
    width: 100%;
    border: none;
  }
}

@media screen and (max-width:590px) {

  #footer {
    /* position: relative; */
    clear: none;
    margin-top: -100px;
    width: 100%;
    height: 100px;
    background-color: gray;
  }
  .column{
    /*  1 col*/
    width: 70%;
    max-width: 280px;
    min-width: 200px;
    margin: 8px auto;
    /* margin-bottom: 16px; */
    float: none;
    /* margin: 2px auto; */

  }

  .row{
    text-align: center;
    margin-top: 16px;
    padding-left: 0;
  }

  .textarea{
    margin-top: 40px;
    margin-bottom: auto;
  }

  .textarea h2{
    font-size: 1.2em;
  }
  .textarea .email{
    font-size: 1em;
  }
}
